body {
    margin: 0;
    padding: 0;
    background-color: black;
}

* {
    box-sizing: border-box;
    font-family: '微軟正黑體';
}

html{
    scroll-behavior: smooth;
}


.fullpage {
    width: 100%;
    height: 100%;
}


.navbar{
    width: 100%;
    max-height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
}

.bg-my-color {
    background-color: black;
}

#toggle {
    width: 28px;
    height: 30px;
    margin: 10px auto;
}

@media (min-width: 992px) {
    #toggle {
        display: none;
    }
}

#toggle div {
    width: 100%;
    height: 5px;
    background: white;
    margin: 4px auto;
    transition: all 0.3s;
    backface-visibility: hidden;
}

#toggle.on .one {
    transform: rotate(45deg) translate(5px, 5px);
}

#toggle.on .two {
    opacity: 0;
}

#toggle.on .three {
    transform: rotate(-45deg) translate(7px, -8px);
}

.navbar-brand {
    padding: unset;
}

.nav-link {
    font-size: 21px;
    font-weight: 900;
}

/* 這裡是section1 */
#section1 {
    width: 100%;
    height: 100vh;
    position: relative;
}

.banner::before{
    content:'';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.3;
}

.banner {
    width: 100%;
    height: 100%;
    background-image: url(../img/banner.jpg);
    background-size: cover;
    background-position: bottom;
}

/* 這裡是section2 */
#section2 {
    width: 100%;
    position: relative;
    color:#000;
    margin: 0;
    padding: 0;
}

.section2_swiper{
    width: 100%;
    height: 300px;
}
#section2 .swiper-container {
    width: 100%;
        height: 100%;
        margin-left: auto;
        margin-right: auto;
}


#section2 .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #000000;

    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 已解決的問題區ok！ */
/* ok！<!-- 問老師如何用bootstrap將>768px時，只有一個col就好？用col-12，(1920px時是用col-lg-4 -->

ok！<!-- BOotstrap的padding跟margin只有1~5嗎？對 -->

ok！<!-- 問老師如何用bootstrap將.text內容置中？ 用flex--> */
/*ok！ <!-- 若要寫文字，這時候該怎麼置中？要固定swiper-container的高度才能用line-height吧？#slide_21{display:flex} --> */

/*ok！ 需詢問老師：為什麼::before會無效？
一定要有content:'';
    position: absolute;
    若無高度一定要有w跟h
    width: 100%;
    height: 100%; */

/*ok！<!-- 問老師：滑鼠往下滾swiper，只能滑到slide-1跟-2，slide-3要手動移動滑鼠才可以？// 可將var swiper「3」 = new Swiper重新命名
// 不然就加入「swiper.init();」在所有section的js最下方即可正常swiper --> */

/* ok！需問老師：如何改「swiper點點」的顏色？
而且swiper的試範點點在右邊(js加入oberser已回恢預設值，在下方) 
顏色改：*/
/* 可以用
    .swiper-pagination-fraction 改方框{
    background-color;去改！   }

    .swiper-pagination-fraction span改點點 {
    display:flex
    justify-con:center
    aling---center
} */
/* #section2 .swiper-pagination-fraction span{
    background-color: tomato
} */

.section-name{
    color: white;
    font-size: 30px;
    font-weight: 900;
}
.text{
    width: 300px;
    height: 300px;
    font-size: 30px;
    font-weight: 700;
    color: white;
    text-align: left;
}
#slide_11{
    width: 300px;
    height: 300px;
    background-image: url(../img/slide11.JPG);
    background-position: center;
    background-size: cover;
    border-radius: 5px;
    border: 5px white solid;
    opacity: 0.7;
    transition: 0.3s;
}
#slide_12{
    width: 300px;
    height: 300px;
    background-image: url(../img/slide12.JPG);
    background-position: center;
    background-size: cover;
    border-radius: 5px;
    opacity: 0.7;
    transition: 0.3s;
}
#slide_11:hover{
    opacity: 1;
}
#slide_12:hover{
    opacity: 1;
}


/* 這裡是section3 */
#section3 {
    width: 100%;
    position: relative;
    color:rgb(202, 197, 197);
    margin: 0;
    padding: 0;
}

#section3 .swiper-container {
    width: 100%;
    height: 100vh;
  }
  #section3 .swiper-slide {
    text-align: center;
    font-size: 18px;

    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }


#slide_21{
    width: 100%;
    height: 100%;
    background-image: url(../img/slide21.jpg);
    background-position: center;
    background-size: cover;
    line-height: 500px;
    color: white;
    font-weight: 700;
    font-size: 50px;
}
#slide_22{
    width: 100%;
    height: 100%;
    background-image: url(../img/slide22.jpg);
    background-position: center;
    background-size: cover;
}
#slide_23{
    width: 100%;
    height: 100%;
    background-image: url(../img/slide23.JPG);
    background-position: center;
    background-size: cover;
}
#slide_24{
    width: 100%;
    height: 100%;
    background-image: url(../img/slide24.JPG);
    background-position: center;
    background-size: cover;
}
#slide_25{
    width: 100%;
    height: 100%;
    background-image: url(../img/slide25.JPG);
    background-position: center;
    background-size: cover;
    line-height: 500px;
    color: white;
    font-weight: 700;
    font-size: 50px;
}
#slide_26{
    width: 100%;
    height: 100%;
    background-image: url(../img/slide26.JPG);
    background-position: center;
    background-size: cover;
    line-height: 500px;
    color: white;
    font-weight: 700;
    font-size: 50px;
}
#slide_27{
    width: 100%;
    height: 100%;
    background-image: url(../img/slide27.JPG);
    background-position: center;
    background-size: cover;
    line-height: 500px;
    color: white;
    font-weight: 700;
    font-size: 50px;
}


/* 這裡是section4 */

/* 這裡是section5 */

/* 這裡是section6 */









/* 問老師：footer無法用media query？是因為設定都是100%嗎？不太能理解？圖都有依px重新裁切，但min-width沒有變？ */
/* 這裡是footer*/
footer {
    width: 100%;
    height: 566px;
    position: relative;
}

.footer {
    width: 100%;
    height: 100%;
    background-image: url(../img/footer.jpg);
    background-size: cover;
    background-position: center;
}

@media(max-width:1765px){   
    .footer{
        background-image: url(../img/footer1765.jpg);
    }
}
@media(max-width:1462px){
    .footer{
        background-image: url(../img/footer1462.jpg);
    }
}
@media(max-width:768px){

}
@media(max-width:576px){

}
@media(max-width:320px){

}


#cow1 {
    width: 100%;
    height: 100%;
    background-image: url(../img/cow1.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}#cow2 {
    width: 100%;
    height: 100%;
    background-image: url(../img/cow2.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}#cow3 {
    width: 100%;
    height: 100%;
    background-image: url(../img/cow3.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}#dog1 {
    width: 100%;
    height: 100%;
    background-image: url(../img/dog1.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}#dog2 {
    width: 100%;
    height: 100%;
    background-image: url(../img/dog2.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}#dog3 {
    width: 100%;
    height: 100%;
    background-image: url(../img/dog3.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}#dog4 {
    width: 100%;
    height: 100%;
    background-image: url(../img/dog4.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

@media(max-width:1765px){
    
    #cow2{
        background-image: url(../img/cow21765.png);
    }
    #cow3{
        background-image: url(../img/cow31765.png);
    }
    #dog2{
        background-image: url(../img/dog21765.png);
    }
    #dog3{
        background-image: url(../img/dog31765.png);
    }
}
@media(max-width:1462px){
    #cow1{
        background-image: url(../img/cow11462.png);
    }
    #cow2{
        background-image: url(../img/cow21462.png);
    }
    #cow3{
        background-image: url(../img/cow31462.png);
    }
    #dog1{
        background-image: url(../img/dog11462.png);
    }
    #dog2{
        background-image: url(../img/dog21462.png);
    }
    #dog3{
        background-image: url(../img/dog31462.png);
    }
    #dog4{
        background-image: url(../img/dog41462.png);
    }
}
@media(max-width:768px){

}
@media(max-width:576px){

}
@media(max-width:320px){

}


#scene {
    overflow: hidden;
}