@charset "UTF-8";
body {
  margin: 0;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.8);
  text-align: center;
  color: white;
  -webkit-overflow-scrolling: touch;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: '微軟正黑體';
  -webkit-overflow-scrolling: touch;
}

html {
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

.fullpage {
  width: 100%;
  height: 100%;
}

.section-name {
  color: white;
  font-size: 30px;
  font-weight: 900;
}

.SmallSection-name {
  color: whitesmoke;
  font-size: 25px;
  font-weight: 800;
}

.text {
  font-size: 25px;
  font-weight: 600;
  color: whitesmoke;
  text-align: center;
}

.TA-JUSTIFY {
  text-align: justify;
}

.ToSection {
  position: relative;
  top: -80px;
  z-index: 999;
  visibility: hidden;
}

/*********** 這裡是navbar ***********/
.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  padding: 0;
}

.bg-my-color {
  background-color: black;
}

#toggle {
  width: 28px;
  height: 30px;
  margin: 10px 30px;
}

@media (min-width: 992px) {
  #toggle {
    display: none;
  }
}

#toggle div {
  width: 100%;
  height: 5px;
  background: white;
  margin: 4px auto;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

#toggle.on .one {
  -webkit-transform: rotate(45deg) translate(5px, 5px);
          transform: rotate(45deg) translate(5px, 5px);
}

#toggle.on .two {
  opacity: 0;
}

#toggle.on .three {
  -webkit-transform: rotate(-45deg) translate(7px, -8px);
          transform: rotate(-45deg) translate(7px, -8px);
}

.navbar-brand {
  padding: unset;
}

.nav-link {
  font-size: 21px;
  font-weight: 900;
}

@media (max-width: 991px) {
  .navbar-nav {
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    position: absolute;
    left: 0;
  }
  .navbar-nav :nth-child(4) {
    padding-left: 25px;
  }
  .navbar h3 {
    color: white;
    margin: auto;
    padding: 0 0 0 20px;
    font-family: "Century Gothic";
    font-weight: 900;
  }
}

@media (max-width: 991px) and (max-width: 511px) {
  .navbar h3 {
    font-size: 25px;
  }
}

/*********** 這裡是section1 ***********/
#section1 {
  width: 100%;
  height: 100vh;
}

/*********** 這裡是section1有水波效果 ***********/
#section1 {
  position: relative;
  overflow: hidden;
}

.home,
.ui-content {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  cursor: pointer;
}

.ios_home,
.ios_ui-content {
  cursor: pointer;
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.bg {
  width: 100%;
  height: 100vh;
  background-image: url(../img/banner.jpg);
  background-attachment: fixed;
  background-position: bottom;
  background-size: cover;
}

.ios_bg {
  background-image: url(../img/banner.jpg);
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
}

.wave-position {
  position: absolute;
  width: 300px;
  height: 300px;
}

.wave-body {
  /* position: relative; */
  width: 100%;
  height: 100%;
}

.wave {
  position: absolute;
  top: calc((100% - 30px)/2);
  left: calc((100% - 30px)/2);
  width: 30px;
  height: 30px;
  border-radius: 300px;
  background-image: url(../img/banner.jpg);
  background-attachment: fixed;
  background-position: bottom;
  background-size: cover;
  -webkit-box-shadow: inset 0px 0px 50px 0px transparent, 0px 0px 100px 0px rgba(75, 154, 173, 0.1);
          box-shadow: inset 0px 0px 50px 0px transparent, 0px 0px 100px 0px rgba(75, 154, 173, 0.1);
}

.wave0 {
  z-index: 2;
  zoom: 1.1;
  -webkit-animation: w 1s;
          animation: w 1s;
}

.wave1 {
  z-index: 3;
  zoom: 1.02;
  -webkit-animation: w 1s .15s;
          animation: w 1s .15s;
}

.wave2 {
  z-index: 4;
  zoom: 1.06;
  -webkit-animation: w 1s .3s;
          animation: w 1s .3s;
}

.wave3 {
  z-index: 5;
  zoom: 1.01;
  -webkit-animation: w 1s .45s;
          animation: w 1s .45s;
}

.wave4 {
  z-index: 6;
  zoom: 1.02;
  -webkit-animation: w 1s .6s;
          animation: w 1s .6s;
}

.wave5 {
  z-index: 7;
  -webkit-animation: w 1s .75s;
          animation: w 1s .75s;
}

@-webkit-keyframes w {
  0% {
    top: calc((100% - 30px)/2);
    left: calc((100% - 30px)/2);
    width: 30px;
    height: 30px;
    opacity: 1;
  }
  99% {
    opacity: 1;
  }
  100% {
    top: calc((100% - 300px)/2);
    left: calc((100% - 300px)/2);
    width: 300px;
    height: 300px;
    opacity: 0;
  }
}

@keyframes w {
  0% {
    top: calc((100% - 30px)/2);
    left: calc((100% - 30px)/2);
    width: 30px;
    height: 30px;
    opacity: 1;
  }
  99% {
    opacity: 1;
  }
  100% {
    top: calc((100% - 300px)/2);
    left: calc((100% - 300px)/2);
    width: 300px;
    height: 300px;
    opacity: 0;
  }
}

/*********** 這裡是section2 ***********/
#section2 {
  width: 100%;
  position: relative;
  margin: 0;
  padding: 0;
  background-image: url(../img/background/triangle-mosaic.png);
  padding: 30px 0 50px 0;
}

#section2 .section-name {
  padding: 10px 0;
  color: #1a1a1a;
}

#swiper_LeftRight {
  padding: 0 0 0 50px;
}

.section2_swiper {
  width: 100%;
  height: 200px;
}

#section2 .swiper-container {
  width: 100%;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
}

#section2 .swiper-slide {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#section2 .swiper-text {
  width: 300px;
  height: 200px;
  color: #383838;
  text-align: left;
}

#section2 .swiper-text p {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: .5rem;
}

.slide2 {
  width: 200px;
  height: 200px;
  background-position: center;
  background-size: cover;
  border-radius: 11px;
  border: 5px whitesmoke solid;
  opacity: 0.8;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media (max-width: 1199px) {
  #section2 .swiper-text p {
    font-size: 18px;
  }
}

@media (max-width: 991px) {
  #section2 {
    padding: 30px 0;
  }
  #section2 .swiper-text p {
    font-size: 15px;
  }
  .section2_swiper {
    height: 150px;
  }
  #section2 .swiper-container {
    height: 150px;
  }
  #section2 .swiper-text {
    height: 150px;
    width: 450px;
  }
  .slide2 {
    width: 150px;
    height: 150px;
  }
}

@media (max-width: 844px) {
  #swiper_LeftRight {
    padding: 0 0 0 20px;
  }
  #section2 .swiper-text p {
    font-weight: 500;
  }
}

@media (max-width: 620px) {
  #swiper_LeftRight {
    padding: 0 0 0 15px;
  }
}

.slide2:hover {
  opacity: 1;
}

#slide_211 {
  background-image: url(../img/slide211.JPG);
}

#slide_212 {
  background-image: url(../img/slide212.JPG);
}

#slide_221 {
  background-image: url(../img/slide221.JPG);
}

#slide_222 {
  background-image: url(../img/slide222.JPG);
}

#slide_231 {
  background-image: url(../img/slide231.jpg);
}

#slide_232 {
  background-image: url(../img/slide232.JPG);
}

/*********** 這裡是section3 ***********/
#section3 {
  width: 100%;
  position: relative;
  color: #cac5c5;
  margin: 0;
  padding: 0;
  background-image: url(../img/background/triangle-mosaic.png);
}

#section3 .section-name {
  font-size: 25px;
  font-weight: 600;
  color: #666666;
  padding: 10px 0;
}

#section3 .swiper-container {
  width: 100%;
  height: 70vh;
}

/* !!未測試未確認!!若圖不需要寫字，此行應該可以刪除 */
#section3 .swiper-slide {
  text-align: center;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slide3 {
  width: 100%;
  height: 100%;
  background-size: cover;
  line-height: 500px;
  color: white;
  font-weight: 900;
  font-size: 30px;
}

#slide_31 {
  background-image: url(../img/slide31.jpg);
  background-position: center;
}

#slide_32 {
  background-image: url(../img/slide32.jpg);
  background-position: 100% 70%;
}

#slide_33 {
  background-image: url(../img/slide33.jpg);
  background-position: 100% 60%;
}

#slide_34 {
  background-image: url(../img/slide34.jpg);
  background-position: center;
}

#slide_35 {
  background-image: url(../img/slide35.jpg);
  background-position: 100% 65%;
}

#slide_36 {
  background-image: url(../img/slide36.jpg);
  background-position: 100% 50%;
}

#slide_37 {
  background-image: url(../img/slide37.jpg);
  background-position: 100% 50%;
}

/*********** 這裡是section3-1 ***********/
#section3-1 {
  width: 100%;
  background-image: url(../img/background/triangle-mosaic.png);
  padding: 50px 0;
  position: relative;
}

#section3-1 .section-name {
  color: #1a1a1a;
}

#section3-1 .text {
  color: #292929;
}

#section3-1 .swiper-container {
  max-height: 400px;
}

#section3-1Background {
  background-color: whitesmoke;
}

.slide_3-1 {
  width: 100%;
  height: 400px;
  background-size: cover;
  line-height: 400px;
  color: whitesmoke;
  font-weight: 700;
  font-size: 20px;
  background-position: center;
}

#slide_3-11 {
  background-image: url(../img/slide311.jpg);
}

#slide_3-12 {
  background-image: url(../img/slide312.JPG);
}

#slide_3-13 {
  background-image: url(../img/slide313.JPG);
}

#slide_3-14 {
  background-image: url(../img/slide314.jpg);
}

#slide_3-15 {
  background-image: url(../img/slide315.jpg);
}

#slide_3-16 {
  background-image: url(../img/slide316.jpg);
}

#slide_3-17 {
  background-image: url(../img/slide317.JPG);
}

#slide_3-18 {
  background-image: url(../img/slide318.JPG);
}

#slide_3-19 {
  background-image: url(../img/slide319.JPG);
}

#slide_3-20 {
  background-image: url(../img/slide320.JPG);
}

#slide_3-21 {
  background-image: url(../img/slide321.jpg);
}

#slide_3-22 {
  background-image: url(../img/slide322.jpg);
}

#section3-1 .swiper-container {
  width: 100%;
  height: 100%;
}

#section3-1 .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/*********** 這裡是section3-2 ***********/
#section3-2 {
  width: 100%;
  padding-bottom: 15px;
  background-image: url(../img/background/triangle-mosaic.png);
  padding: 0 0 50px 0;
  position: relative;
  overflow: hidden;
}

.section3-2-background {
  position: absolute;
  bottom: 0;
  right: 0;
  max-width: 100%;
  height: auto;
}

@media (max-width: 767px) {
  .section3-2-background {
    right: -150px;
  }
  .section3-2-background img {
    max-width: 80%;
  }
}

@media (max-width: 575px) {
  .section3-2-background {
    right: -110px;
  }
  .section3-2-background img {
    max-width: 70%;
  }
}

@media (max-width: 400px) {
  .section3-2-background {
    right: -80px;
  }
  .section3-2-background img {
    max-width: 70%;
  }
}

#section3-2 .text {
  color: #292929;
}

#title-text {
  font-size: 18px;
  color: #3d3d3d;
  text-align: justify;
  letter-spacing: 1.5px;
  font-weight: 600;
}

.SmallP {
  font-size: 20px;
  font-weight: 600;
  color: #2b2b2b;
  text-align: justify;
  margin: 30px 0 15px 0;
}

#section3-2 .row p {
  font-size: 18px;
  font-weight: 500;
  color: #454545;
  text-align: justify;
  letter-spacing: 1.5px;
}

/*********** 這裡是section4 ***********/
#section4 {
  position: relative;
  width: 100%;
  background-image: url(../img/background/triangle-mosaic.png);
}

#section4 .section-name {
  color: #1a1a1a;
}

#section4_toggle {
  height: 100px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.1)), to(white));
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%, white 100%);
  margin: 0;
  border-radius: 25px 25px 0 25px;
}

.button {
  width: 80px;
  height: 80px;
  background-color: rgba(146, 122, 110, 0.65);
  text-align: center;
  line-height: 80px;
  font-size: 18px;
  font-weight: 600;
  color: white;
  border-radius: 25px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.button.active {
  background-color: rgba(66, 55, 50, 0.65);
  color: sandybrown;
  width: 80px;
  border-radius: 50px;
}

.section4_content {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0.1)), to(white));
  background: linear-gradient(360deg, rgba(255, 255, 255, 0.1) 0%, white 100%);
  width: 100%;
  padding: 15px;
  border-radius: 0 0 30px 30px;
}

#section4 .title {
  width: 50px;
  height: 100%;
  font-size: 30px;
  color: white;
  text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.562), 0px 0px 15px #fff, 0px 0px 20px #fff;
  font-weight: 900;
}

.section4_text {
  width: 100%;
  display: none;
  color: sandybrown;
  font-size: 30px;
  text-shadow: 0px 0px 6px rgba(248, 222, 182, 0.562), 0px 0px 15px #fff, 0px 0px 20px #fff;
  font-weight: 900;
}

.section4_text.active {
  display: block;
}

.pic4 {
  width: 100%;
  height: 300px;
  background-position: center;
  background-size: cover;
  border-radius: 15px;
}

#pic411 {
  background-image: url(../img/pic411.jpg);
}

#pic412 {
  background-image: url(../img/pic412.jpg);
}

#pic413 {
  background-image: url(../img/pic413.jpg);
}

#pic414 {
  background-image: url(../img/pic414.jpg);
}

#section4 #text2,
#text3 {
  font-size: 40px;
  text-align: center;
  line-height: 450px;
}

@media (max-width: 992px) {
  #section4 .title {
    width: 30px;
    font-size: 20px;
    font-weight: 700;
  }
  .pic4 {
    height: 200px;
  }
  #section4 #text2,
  #text3 {
    font-size: 30px;
    line-height: 432px;
  }
}

@media (max-width: 767px) {
  .pic4 {
    height: 150px;
  }
  #section4 #text2,
  #text3 {
    line-height: 332px;
  }
}

/*********** 這裡是section5 ***********/
/******** 這裡是section5-1 ********/
#section5-1 {
  position: relative;
  width: 100%;
  overflow: hidden;
  background-image: url(../img/background/triangle-mosaic.png);
}

.section5-1-background {
  position: absolute;
  max-width: 100%;
  height: auto;
}

@media (max-width: 1283px) {
  .section5-1-background {
    right: 500px;
  }
}

@media (max-width: 767px) {
  .section5-1-background {
    right: 800px;
  }
}

#section5-1 .section-name {
  color: #1a1a1a;
}

#section5-1 .text {
  color: #292929;
}

#text5-1 {
  color: #292929;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1.5px;
  text-align: justify;
}

#special {
  font-size: 45px;
  font-weight: 900;
}

#section5-1 .area img {
  max-width: 80%;
  height: auto;
  border-radius: 5%;
  border: 5px solid white;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media screen and (max-width: 768px) {
  #section5-1 .area img {
    max-width: 100%;
  }
}

#section5-1 .area h2 {
  color: #3a3837;
  font-size: 28px;
  font-weight: 600;
  text-shadow: 0px 0px 6px rgba(58, 56, 55, 0.562), 0px 0px 15px #fff, 0px 0px 20px #fff;
  max-width: 80%;
}

@media screen and (max-width: 576px) {
  #section5-1 .area h2 {
    max-width: 100%;
    font-size: 20px;
  }
}

#section5-1 .area p {
  color: #1d1d1d;
  font-size: 20px;
  font-weight: 600;
  text-align: justify;
  max-width: 80%;
}

@media screen and (max-width: 576px) {
  #section5-1 .area p {
    max-width: 100%;
    font-size: 15px;
  }
}

#section5-1 .area .block :nth-last-child(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#section5-1 .area :nth-child(2n+1) .block h2,
#section5-1 .area :nth-child(2n+1) .block P {
  text-align: right;
}

#section5-1 .area :nth-child(2n) .block h2,
#section5-1 .area :nth-child(2n) .block P {
  text-align: left;
}

/******** 這裡是section5-2 ********/
#section5-2 {
  position: relative;
  width: 100%;
  background-image: url(../img/background/triangle-mosaic.png);
}

#section5-2 .text {
  color: #1a1a1a;
  font-weight: 900;
}

#text5-2 {
  font-size: 30px;
  font-weight: 900;
  color: #292929;
}

#section_5-2_text-1 {
  margin-bottom: 100px;
}

#section5-2 .col-10,
.col-lg-7 {
  color: #292929;
  font-size: 20px;
  font-weight: 400;
  text-align: justify;
  letter-spacing: 1.5px;
}

@media screen and (max-width: 576px) {
  #section5-2 .col-10,
  .col-lg-7 {
    font-size: 18px;
  }
}

#section5-2 img {
  max-width: 100%;
  display: block;
  margin: auto;
}

/*********** 這裡是section6 ***********/
#section6 {
  position: relative;
  width: 100%;
  height: 500px;
  background-image: url(../img/background/triangle-mosaic.png);
  font-size: 30px;
  text-align: center;
  color: #101d33;
}

#contactus {
  width: 300px;
  height: 300px;
  background-image: url(../img/contactus.jpg);
  background-position: center;
  background-size: cover;
  margin: auto;
}

/*********** 這裡是footer ***********/
footer {
  width: 100%;
  height: 566px;
  position: relative;
}

.footer {
  width: 100%;
  height: 100%;
  text-align: center;
  background-image: url(../img/footer.jpg);
  background-size: cover;
  background-position: center;
}

.layer {
  width: 100%;
  height: 100%;
}

#grass {
  width: 100%;
  height: 100%;
  background-image: url(../img/footer-grass.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#cow1 {
  width: 100%;
  height: 100%;
  background-image: url(../img/cow1.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#cow2 {
  width: 100%;
  height: 100%;
  background-image: url(../img/cow2.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#cow3 {
  width: 100%;
  height: 100%;
  background-image: url(../img/cow3.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#dog1 {
  width: 100%;
  height: 100%;
  background-image: url(../img/dog1.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#dog2 {
  width: 100%;
  height: 100%;
  background-image: url(../img/dog2.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#dog3 {
  width: 100%;
  height: 100%;
  background-image: url(../img/dog3.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#dog4 {
  width: 100%;
  height: 100%;
  background-image: url(../img/dog4.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#scene {
  overflow: hidden;
}

/* 4/23君毅老師加入要讓iphone顯示navbar，但失敗 */
/*# sourceMappingURL=index.css.map */