/* 未解決區：
最後需要問老師ios的nav看不到問題
ios不會自動播放影片 */

/* 未解決：問老師：要怎麼在手機版把toggle不要看不到？？？(因為前面有把navbar：fixed，還有max-width)。ANS:助教說，是apple ios的問題，要再上網找解法 */

/* 未解決：ios查看網站時，navbar會往上彈？導致無法關閉navbar？ */


body {
    margin: 0;
    padding: 0;
    background-color: black;
    text-align: center;
    color: white;
// 4/28問老師：手機版沒有慢慢滑動的效果，查詢ios應該是這個設定，但沒用= =
    -webkit-overflow-scrolling: touch;
}

* {
    box-sizing: border-box;
    font-family: '微軟正黑體';
    -webkit-overflow-scrolling: touch;
}

html{
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
}


.fullpage {
    width: 100%;
    height: 100%;
}

.section-name{
    color: white;
    font-size: 30px;
    font-weight: 900;
}

.SmallSection-name{
    color: whitesmoke;
    font-size: 25px;
    font-weight: 800;
}

.text{
    font-size: 20px;
    font-weight: 600;
    color: whitesmoke;
    text-align: center;
}


.TA-JUSTIFY{
    text-align: justify;
}


.ToSection{
    position: relative;
    top: -80px;
    z-index: 999;
    visibility: hidden;
}


/*********** 這裡是navbar ***********/
.navbar{
    width: 100%;
    max-height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    padding: 0;
}

.bg-my-color {
    background-color: black;
}

#toggle {
    width: 28px;
    height: 30px;
    margin: 10px auto;
}

// /* 4/22問：這裡是原本toogle的範例寫用(992px「min-width」，可以改成max-width嗎？這段有點看不太懂= = ，不好，因為bootstrp的套件，不要改！
@media (min-width: 992px) {
    #toggle {
        display: none;
    }
}

#toggle div {
    width: 100%;
    height: 5px;
    background: white;
    margin: 4px auto;
    transition: all 0.3s;
    backface-visibility: hidden;
}

#toggle.on .one {
    transform: rotate(45deg) translate(5px, 5px);
}

#toggle.on .two {
    opacity: 0;
}

#toggle.on .three {
    transform: rotate(-45deg) translate(7px, -8px);
}


.navbar-brand {
    padding: unset;
}

.nav-link {
    font-size: 21px;
    font-weight: 900;
}

// 4/23君毅老師說加入此段應該可解決iphone的nav問題
// 但測試問題還是一樣沒解決
/* 4/23君毅老師加入要讓iphone顯示navbar，但失敗 */
.navbar-collapse {
    position: relative;
    left: 0;
    top: 0;
}

@media (max-width: 992px) {
    .navbar-nav{
        background-color: rgba(0, 0, 0, 0.8);
        border-radius: 5px;
        max-width: 200px;
        transform: translateX(-80%);
        padding: 15px;
    }

    #nav-4{
        margin: 0;
    }
}



/*********** 這裡是section1 ***********/
#section1 {
    width: 100%;
    height: 100vh;
    // 下面兩個是水波效果用的
    // position: relative;
    // overflow: hidden;
}

// .mask{
//     content:'';
//     position: absolute;
//     width: 100%;
//     height: 100%;
//     background-color: black;
//     opacity: 0.3;
// } 

.banner {
    width: 100%;
    height: 100%;
    background-image: url(../img/banner.jpg);
    background-size: cover;
    background-position: bottom;
}


/*********** 這裡是section1有水波效果 ***********/
// #section1{
//     position: relative;
//     
// }
// #home,
// .ui-content {
//             margin: 0;
//             padding: 0;
//             height: 100%;
//             width: 100%;
//             // overflow: hidden;
//             cursor: pointer;
//         }

//         .bg {
//             width: 100%;
//             height: 1000px;
//             background-image: url(../img/banner.jpg);
//             background-attachment: fixed;
//             background-position: bottom;
//             background-size: cover;
//         }

//         .wave-position {
//             position: absolute;
//             width: 300px;
//             height: 300px;
//         }

//         .wave-body {
//             /* position: relative; */
//             width: 100%;
//             height: 100%;
//         }

//         .wave {
//             position: absolute;
//             top: calc((100% - 30px)/2);
//             left: calc((100% - 30px)/2);
//             width: 30px;
//             height: 30px;
//             border-radius: 300px;
//             background-image: url(../img/banner.jpg);
//             background-attachment: fixed;
//             background-position: bottom;
//             background-size: cover;
//             box-shadow:inset 0px 0px 50px 0px transparent, 0px 0px 100px 0px rgba(75, 154, 173, 0.1);
//             // z-index: -1;
//         }

//         .wave0 {
//             z-index: 2;
//             zoom: 1.1;
//             animation: w 1s;
//           }
          
//           .wave1 {
//             z-index: 3;
//             zoom: 1.02;
//             animation: w 1s .15s;
//           }
          
//           .wave2 {
//             z-index: 4;
//             zoom: 1.06;
//             animation: w 1s .3s;
//           }
          
//           .wave3 {
//             z-index: 5;
//             zoom: 1.01;
//             animation: w 1s .45s;
//           }
          
//           .wave4 {
//             z-index: 6;
//             zoom: 1.02;
//             animation: w 1s .6s;
//           }
          
//           .wave5 {
//             z-index: 7;
//             animation: w 1s .75s;
//           }


//         @keyframes w {
//             0% {
//                 top: calc((100% - 30px)/2);
//                 left: calc((100% - 30px)/2);
//                 width: 30px;
//                 height: 30px;
//                 opacity: 1;
//             }

//             99% {
//                 opacity: 1;
//             }

//             100% {
//                 top: calc((100% - 300px)/2);
//                 left: calc((100% - 300px)/2);
//                 width: 300px;
//                 height: 300px;
//                 opacity: 0;
//             }
//         }
   


/*********** 這裡是section2 ***********/
#section2 {
    width: 100%;
    position: relative;
    margin: 0;
    padding: 0;
}

#swiper_LeftRight{
    padding: 0 0 0 50px;
}

.section2_swiper{
    width: 100%;
    height: 300px;
}
#section2 .swiper-container {
    width: 100%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}


#section2 .swiper-slide {
    text-align: center;
    // font-size: 18px;是誰？有影響了誰？沒有就刪
    display: flex;
    justify-content: center;
    align-items: center;
}

#section2 .swiper-text{
    width: 300px;
    height: 300px;
    color: white;
    text-align: left;
}

#section2 .swiper-text p{
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: .5rem;
}

.slide2{
    width: 300px;
    height: 300px;
    background-position: center;
    background-size: cover;
    border-radius: 11px;
    border: 5px whitesmoke solid;
    opacity: 0.7;
    transition: 0.3s;
}

@media (max-width: 1199px) {
    .section2_swiper{
        height: 200px;
    }
    #section2 .swiper-container {
        height: 200px;
    }
    #section2 .swiper-text{
        height: 200px;
    }
    #section2 .swiper-text p{
        font-size: 18px;
        font-weight: 500;
        line-height: 1.2;
        margin-bottom: .5rem;
    }
    .slide2{
        width: 200px;
        height: 200px;
    } 
}

@media (max-width: 991px) {
    .section2_swiper{
        height: 150px;
    }
    #section2 .swiper-container {
        height: 150px;
    }
    #section2 .swiper-text{
        height: 150px;
        width: 450px;
    }
    .slide2{
        width: 150px;
        height: 150px;
    }
    #section2 .swiper-slide {
        font-size: 10px;
    }
}

@media (max-width: 844px) {
    #swiper_LeftRight{
        padding: 0 0 0 20px;
    }
    #section2 .swiper-text p{
        font-size: 15px;
        font-weight: 500;
    }
}

@media (max-width: 620px) {
    #swiper_LeftRight{
        padding: 0 0 0 15px;
    }
}


.slide2:hover{
    opacity: 1;
}
#slide_211{
    background-image: url(../img/slide211.JPG);
}
#slide_212{
    background-image: url(../img/slide212.JPG);
}
#slide_221{
    background-image: url(../img/slide221.JPG);
}
#slide_222{
    background-image: url(../img/slide222.JPG);
}
#slide_231{
    background-image: url(../img/slide231.jpg);
}
#slide_232{
    background-image: url(../img/slide232.JPG);
}


// /* ok！4/22要問老師：怎麼讓lightbox裡的照片同樣大小？ 
// 設定了js的max-width或max-height都沒有用？！*/
// 裁切圖片為同樣大小，因為是「max」，但我的圖都沒有這麼小張，用裁切圖片順便優化圖片大小

/*********** 這裡是section3 ***********/
#section3 {
    width: 100%;
    position: relative;
    color:rgb(202, 197, 197);
    margin: 0;
    padding: 0;
}

#section3 .swiper-container {
    width: 100%;
    height: 70vh;
}

/* !!未測試未確認!!若圖不需要寫字，此行應該可以刪除 */
#section3 .swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide3{
    width: 100%;
    height: 100%;
    background-size: cover;
    line-height: 500px;
    color: white;
    font-weight: 900;
    font-size: 30px;
}

#slide_31{
    background-image: url(../img/slide31.jpg);
    background-position: center;
}
#slide_32{
    background-image: url(../img/slide32.jpg);
    background-position: 100% 70%;
}
#slide_33{
    background-image: url(../img/slide33.jpg);
        background-position: 100% 60%;
}
#slide_34{
    background-image: url(../img/slide34.jpg);
        background-position: center;
}
#slide_35{
    background-image: url(../img/slide35.jpg);
        background-position: 100% 65%;
}
#slide_36{
    background-image: url(../img/slide36.jpg);
        background-position: 100% 50%;
}
#slide_37{
    background-image: url(../img/slide37.jpg);
        background-position: 100% 50%;
}


/*********** 這裡是section3-1 ***********/
#section3-1{
    width: 100%;
    height: 491px;
    // height: 515px;此版本電腦版ok但在iphone看就壞了
}
#section3-1 .swiper-container{
    max-height: 400px;
}

#section3-1Background{
    background-color: whitesmoke;
}

.slide_3-1{
    width: 100%;
    height: 400px;
    background-size: cover;
    line-height: 400px;
    color: whitesmoke;
    font-weight: 700;
    font-size:20px;
    background-position: center;
}
#slide_3-11{
    background-image: url(../img/slide311.jpg);
}
#slide_3-12{
    background-image: url(../img/slide312.JPG);
}
#slide_3-13{
    background-image: url(../img/slide313.JPG);
}
#slide_3-14{
    background-image: url(../img/slide314.jpg);
}
#slide_3-15{
    background-image: url(../img/slide315.jpg);
}
#slide_3-16{
    background-image: url(../img/slide316.jpg);
}#slide_3-17{
    background-image: url(../img/slide317.JPG);
}
#slide_3-18{
    background-image: url(../img/slide318.JPG);
}
#slide_3-19{
    background-image: url(../img/slide319.JPG);
}#slide_3-20{
    background-image: url(../img/slide320.JPG);
}
#slide_3-21{
    background-image: url(../img/slide321.jpg);
}
#slide_3-22{
    background-image: url(../img/slide322.jpg);
}

#section3-1 .swiper-container {
    width: 100%;
    height: 100%;
  }
#section3-1 .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}



/*********** 這裡是section3-2 ***********/
#section3-2{
    width: 100%;
    background-color: whitesmoke;
    padding-bottom: 15px;
}

#section3-2 .text{
    color: black;
}

#title-text{
    font-size: 18px;
    color: black;
    text-align: justify;
 }

.SmallP{
    font-size: 18px;
    font-weight: 600;
    color: rgb(0, 0, 0);
    text-align: justify;
}

#section3-2 .row p{
    font-size: 18px;
    font-weight: 500;
    color: rgb(70, 70, 70);
    text-align: justify; 
}


/*********** 這裡是section4 ***********/
#section4{
    width: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 1)0%, rgba(255, 255, 255, 1)100%);
}

#section4 .section-name{
    background-color: black;
}

#section4_toggle {
    height: 100px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 1)0%, rgba(255, 255, 255, 1)100%);
    margin: 0;
}
.button {
    width: 100px;
    height: 100px;
    background-color: black;
    text-align: center;
    line-height: 100px;
    font-size: 18px;
    font-weight: 600;
    color: white;
    margin-right: 7px;
    translate: 0.3s;
}
.button.active {
    background-color: rgba(0, 0, 0, 0.65);
    color: white;
}


.section4_content {
    background: linear-gradient(360deg, rgba(255, 255, 255, 0.1)0%, rgba(255, 255, 255, 1)100%); 
    width: 100%;
    padding: 15px;
    border-radius: 0 0 30px 30px;
}

#section4 .title{
    width: 50px;
    height: 100%;
    font-size: 30px;
    color: white;
    text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.562), 0px 0px 15px #fff, 0px 0px 20px #fff;
    font-weight: 900;
}

.section4_text {
    width: 100%;
    display: none;
}
.section4_text.active {
    display: block;
}

.pic4{
    width: 100%;
    height: 300px;
    background-position: center;
    background-size: cover;
    border-radius: 15px;
}
#pic411{
    background-image: url(../img/pic411.jpg);
}
#pic412{
    background-image: url(../img/pic412.jpg);
}
#pic413{
    background-image: url(../img/pic413.jpg);
}
#pic414{
    background-image: url(../img/pic414.jpg);
}

#section4 #text2,#text3{
    font-size: 40px;
    text-align: center;
    line-height: 450px;
}

@media (max-width: 992px) {
    #section4 .title{
    width: 30px;
    font-size: 20px;
    font-weight: 700;
    }

    .pic4{
    height: 200px;
    }

    #section4 #text2,#text3{
    font-size: 30px;
    line-height: 432px;
    }
}

@media (max-width: 767px) {
    .pic4{
    height: 150px;
    }

    #section4 #text2,#text3{
    line-height: 332px;
    }
}


/*********** 這裡是section5 ***********/
/******** 這裡是section5-1 ********/
#section5-1{
    width: 100%;
    min-height: calc(100vh - 80px);
    background: linear-gradient(180deg, white 0%, rgba(240, 255, 240, 1) 100%);
}

#section5-1 .section-name{
    color: black;
}
#section5-1 .text{
    color: black;
}
#section5-1 .dogname{
    color: rgb(63, 69, 105) ;
    font-size: 30px;
}
#section5-1 span{
    color: rgb(94, 99, 128);
    font-size: 20px;
    
    // 想讓文字在手機版斷行到第二行時，文字偏左開始？是用下面這是嗎？
    text-align:left;
}

.pic5{
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    border-radius: 5%;
    border: 5px solid white;
}
// 皮蛋
#pic511{
    background-image: url(../img/pic511.jpg);
}
#pic512{
    background-image: url(../img/pic512.jpg);
}
// 黑皮
#pic521{
    background-image: url(../img/pic521.jpg);
}
#pic522{
    background-image: url(../img/pic522.jpg);
}
// 蛋捲
#pic531{
    background-image: url(../img/pic531.JPG);
}
#pic532{
    background-image: url(../img/pic532.JPG);
    background-position: right;
}
// 兩光
#pic541{
    background-image: url(../img/pic541.jpg);
}
#pic542{
    background-image: url(../img/pic542.jpg);
}
// 熊熊
#pic551{
    background-image: url(../img/pic551.JPG);
}
#pic552{
    background-image: url(../img/pic552.JPG);
}

// 4/24問老師：在iphone看奇怪為什麼pic512照片又自動旋轉了？

#section5-1 .row{
// 4/29再問一次蕭麻吉：為什麼要-221px？忘記是什麼了？只記得要減掉navbar的80px，剩下的是什麼高度？
    height: calc(100vh - 221px);
}

// 這裡還是改成boostrp切版吧！
/******** 這裡是section5-2 ********/
#section5-2{
    width: 100%;
    background: linear-gradient(360deg, rgba(207, 250, 207, 1) 0%, rgba(240, 255, 240, 1) 100%);
}
#section5-2 .text{
    color: black;
    font-size: 30px;
    font-weight: 900;
    padding: 15px;
}

#section5-2 .col-8{
    color: black;
    font-size: 20px;
    font-weight: 400;
    background-color: white;
    text-align: justify;
}

// #section5-2 .col-10{
//     width: 100%;
//     height: 750px;
//     background-image: url(../img/section5-2.jpg);
//     background-size: cover;
//     background-position: 100% 48%;
// }

#section5-2 img{
    max-width: 100%;
    height: auto;
}



/*********** 這裡是section6 ***********/
#section6{
    width: 100%;
    height: 500px;
    background: linear-gradient(180deg, rgba(207, 250, 207, 1) 0%, rgb(127, 214, 213) 100%);
    font-size: 30px;
    text-align: center;
    color: rgb(16, 29, 51);
}

#contactus{
    width:300px;
    height: 300px;
    background-image: url(../img/contactus.jpg);
    background-position: center;
    background-size: cover;
    margin: auto;
}





/*********** 這裡是footer ***********/

// /* 4/22要問老師：footer無法用media query？是因為設定都是100%嗎？不太能理解？圖要依px重新裁切嗎？ */
// /* 4/22問老師：如何將parallax前方草的效果做成自動波浪動嗎？ */
// /* ！！未做的事！！要加上traslatex、y、z軸！！！！！才有距離感！要把同一層的圖卡一樣的data-depth，像是兩台車同一層、公牛自己一層、屋頂上的狗跟小牛同一層、炸欄的黑皮自己一層、皮蛋跟蛋捲跟熊能一層、母牛一層、前方的草自己一~兩三層。 */

footer {
    width: 100%;
    height: 566px;
    position: relative;
}

.footer {
    width: 100%;
    height: 100%;
    text-align: center;
    background-image: url(../img/footer.jpg);
    background-size: cover;
    background-position: center;
}

// @media(max-width:1765px){   
//     .footer{
//         background-image: url(../img/footer1765.jpg);
//     }
// }
// @media(max-width:1462px){
//     .footer{
//         background-image: url(../img/footer1462.jpg);
//     }
// }
// @media(max-width:768px){

// }
// @media(max-width:576px){

// }
// @media(max-width:320px){

// } 


.layer{
    width: 100%;
    height: 100%;
}

#grass{
    width: 100%;
    height: 100%;
    background-image: url(../img/footer-grass.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#cow1 {
    width: 100%;
    height: 100%;
    background-image: url(../img/cow1.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}#cow2 {
    width: 100%;
    height: 100%;
    background-image: url(../img/cow2.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}#cow3 {
    width: 100%;
    height: 100%;
    background-image: url(../img/cow3.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}#dog1 {
    width: 100%;
    height: 100%;
    background-image: url(../img/dog1.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}#dog2 {
    width: 100%;
    height: 100%;
    background-image: url(../img/dog2.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}#dog3 {
    width: 100%;
    height: 100%;
    background-image: url(../img/dog3.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}#dog4 {
    width: 100%;
    height: 100%;
    background-image: url(../img/dog4.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

// @media(max-width:1765px){
    
//     #cow2{
//         background-image: url(../img/cow21765.png);
//     }
//     #cow3{
//         background-image: url(../img/cow31765.png);
//     }
//     #dog2{
//         background-image: url(../img/dog21765.png);
//     }
//     #dog3{
//         background-image: url(../img/dog31765.png);
//     }
// }
// @media(max-width:1462px){
//     #cow1{
//         background-image: url(../img/cow11462.png);
//     }
//     #cow2{
//         background-image: url(../img/cow21462.png);
//     }
//     #cow3{
//         background-image: url(../img/cow31462.png);
//     }
//     #dog1{
//         background-image: url(../img/dog11462.png);
//     }
//     #dog2{
//         background-image: url(../img/dog21462.png);
//     }
//     #dog3{
//         background-image: url(../img/dog31462.png);
//     }
//     #dog4{
//         background-image: url(../img/dog41462.png);
//     }
// }
// @media(max-width:768px){

// }
// @media(max-width:576px){

// }
// @media(max-width:320px){

// } 


#scene {
    overflow: hidden;
}






// /* 已解決的問題區ok！ */
// /* ok！<!-- 問老師如何用bootstrap將>768px時，只有一個col就好？用col-12，(1920px時是用col-lg-4 -->

// ok！<!-- BOotstrap的padding跟margin只有1~5嗎？對 -->

// ok！<!-- 問老師如何用bootstrap將.text內容置中？ 用flex--> */

// /*ok！ <!-- 若要寫文字，這時候該怎麼置中？要固定swiper-container的高度才能用line-height吧？#slide_21{display:flex} --> */

// /*ok！ 需詢問老師：為什麼::before會無效？
// 一定要有content:'';
//     還有position: absolute;
//     若無高度一定要有w跟h
//     width: 100%;
//     height: 100%; */


// /* ok！需問老師：如何改「swiper點點」的顏色？
// 而且swiper的試範點點在右邊(js加入oberser已回恢預設值，在下方) 
// 顏色改：*/
// /* 可以用
//     .swiper-pagination-fraction 改方框{
//     background-color;去改！   }

//     .swiper-pagination-fraction span改點點 {
//     display:flex
//     justify-con:center
//     aling---center
// } */
//* #section2 .swiper-pagination-fraction span{
//   background-color: tomato} *

//* OK!問老師：section1水波產生的底圖位置不對>把wave0~5的
//background-size:[auto]要刪除 只留下106%; */

// <!--ok！ 4/24看boostrap怎麼讓兩col-5水平置中，在row 用justify-content-center-->