body {
    margin: 0;
    padding: 0;
    // overflow-x: hidden;
    background-color: #d9d9d9;
}

* {
    box-sizing: border-box;
    font-family: "微軟正黑體";
}

html {
    scroll-behavior: smooth;
}

.row {
    margin: 0;
}

.form-group {
    text-align: left;
}

#Buttons {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: #868686;
    width: 100%;
    padding-bottom: 16px;
    z-index: 99;
    #new,
    #close {
        color: #17445c;
    }
}

.col-auto {
    line-height: 38px;
}

#close {
    display: none;
}

#newArea {
    display: none;
    color: #9b9b9b;
    margin-top: 100px;
    background-color: #17445c;
    input {
        background-color: #ebedee;
        color: #ab956c;
    }
}

#BTNS {
    margin-top: 640px;
}
