body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', '微軟正黑體', sans-serif;
}


* {
    box-sizing: border-box;
}

.text-center {
    text-align: center;
}

.section_name {
    // font-family: 'Amaranth';
    text-shadow: 1px 1px 4px #6d6c6c;
    background-color: #b0bec5;
    color: white;
}

h3 {
    margin-bottom: 0px;
    margin-top: 0;
    padding: 30px 0px;
}

.MB-100 {
    margin-bottom: 100px;
}

.MT-100 {
    margin-top: 100px;
}

/////// Navbar ///////
/*Header Section*/
header {
    position: relative;
    width: 100%;
    min-height: 100vh;
}

.brand-logo img {
    padding: 6px 0;
    max-height: 64px;
}

.banner {
    width: 100%;
    height: 100vh;
    background-image: url(../img/banner/banner3.JPG);
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 0;
}

.banner_text {
    font-family: 'Amaranth';
    font-weight: 700;
    text-shadow: 1px 1px 4px #6d6c6c;
    position: absolute;
    z-index: 3;
    top: 20%;
    right: 18%;
    text-align: right;
    animation: aniShow-title 3s 1s ease-out forwards;

    @media (max-width:992px) {
        right: 11%;
        animation: aniShow-title-992 1.5s 1s ease-out forwards;
    }

    h5 {
        animation: aniShow-title 5s 3s ease-out forwards;
        opacity: 0.3;
    }
}

@keyframes aniShow-title {
    0% {
        opacity: 0;
        right: -5%;
    }

    100% {
        opacity: 1;
        right: 18%;
    }
}

@keyframes aniShow-title-992 {
    0% {
        opacity: 0;
        right: -5%;
    }

    100% {
        opacity: 1;
        right: 11%;
    }
}

nav {
    position: relative;
    z-index: 99;
    height: 64px;
    background-color: transparent;
    box-shadow: none;
    transition: all .2s linear;
}

.shadow {
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -7px rgba(0, 0, 0, 0.2);
}

#arrow {
    width: 40px;
    height: 40px;
    position: absolute;
    bottom: 3%;
    left: calc(50% - 20px);
    z-index: 3;
    background-image: url('../img/icons/arrow-down-white.png');
    background-size: cover;
    background-position: center;
}


/////// Side Nav ///////
/*Side Nav*/
.avater {
    width: 100px;
    height: 100px;
    margin-left: 50px;
    ;
}

.name {
    padding-left: 63px;
    font-weight: 900;
}

.email {
    padding-left: 16px;
    font-weight: 100;
}

ul.sidenav {
    width: 200px;
    background-color: #cccbc6;
}

ul.sidenav li:last-of-type,
ul.sidenav li:last-of-type a {
    max-height: 20px;
    line-height: 20px;
}

ul.sidenav .divider {
    margin: 15px 20px 28px 25px;
    // background-color: #686666;
    background-color: #efd9c1;
}

ul.sidenav .subheader {
    font-size: 12px;
}

#side-nav-icons-container {
    display: flex;
    padding: 0 32px;
}

#side-nav-icons-container h5 {
    padding-right: .9rem;
}

#side-nav-logo {
    height: 7%;
}

#side-nav-logo img {
    height: 100%;
    padding: 5px 0px;
}

.sidenav li {
    line-height: unset;
}


/////// Front-end ///////
// #skills .card.large {
//     height: 360px;
// }

// 下面這段如果用不到就可刪
// #front-end .row {
//     display: flex;
//     justify-content: center;
// }

#front-end .white-text {
    background-color: #cccbc6;
    margin-bottom: 0px;
    margin-top: 0;
    padding: 20px 0px;
}

#front-end .card h4 {
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.container.thirdcolor{
    font-size: 2.28rem;
    line-height: 110%;
}

#front-end .z-depth-3{
    margin-bottom: 150px;
    @media (max-width:414px) {
        margin-bottom: 100px;
    }
    &.pc{
        margin: 20px auto 150px auto;
        padding: 20px 0 10px 0;
        @media (max-width:576px) {
            margin: 20px auto 100px auto;
            padding: 20px 0 1px 0;
        }
    }
    &.pack{
        margin: 0 auto 150px auto;
        @media (max-width:576px) {
            margin: 0 auto 100px auto;
        }
    }
    &.S-ROW{
        max-width: 98%;
    }
}

// #front-end .col img.responsive-img {
//     margin: 0 auto;
//     max-height: 100px;
//     padding-bottom: 10px;
//     vertical-align: middle;
//     display: table-cell;
// }


// 改成用img，ok下面這段就刪
#front-end .pic {
    width: 100%;
    height: 200px;
    background-image: url(../img/front-end/擷取.JPG);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}


//////ajax////////
#ajax {
    .parallax-container {
        margin-top: unset;
        max-height: 500px;

        @media (max-width:414px) {
            max-height: 400px;
        }
    }

    .ajaxcontainer {
        display: flex;
        justify-content: center;
        padding: 50px 0;

        @media (max-width:414px) {
            padding: 17.5px 0;
        }
    }

    .ajaxcard {
        color: #616161;
        background-color: rgba(255, 255, 255, 0.5);
        width: 400px;
        height: 400px;
        border-radius: 50%;
        text-align: center;

        h4 {
            font-weight: 700;
            margin: 0 0 20px 0;
        }

        h5 {
            span {
                border-bottom: 2px solid #616161;
            }
        }

        @media (max-width:414px) {
            width: 365px;
            height: 365px;
        }

        img {
            height: 150px;
            width: 150px;
        }

        #lasth5 {
            margin-top: 30px;
        }

        #size {
            font-size: 50px;
            border-bottom: unset;

            @media (max-width:414px) {
                font-size: 40px;
            }
        }
    }

}





//////Skills////////
section.parallax-container {
    max-height: 500px;

    @media (max-width:414px) {
        max-height: 400px;
    }
}

.section2 .mask {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(77, 74, 74, 0.2)
}

.section2 .row {
    display: flex;
    justify-content: center;

    &:nth-child(1) {
        margin-top: 65px;

        @media (max-width:576px) {
            margin-top: 100px;
        }

        @media (max-width:414px) {
            margin-top: 40px;
            margin-bottom: 60px;
            padding: unset;
        }
    }
}

.section2 .row .col {
    @media (max-width:414px) {
        padding: unset;
    }
}

.tooltip {
    @media (max-width:414px) {
        position: relative;
    }
}

.section2 span {
    @media (max-width:414px) {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        font-size: 12px;
    }
}

#parallax img.responsive-img {
    margin: 0 auto;
    max-height: 100px;
    padding-bottom: 10px;
    vertical-align: middle;
    display: table-cell;
}

#parallax {
    margin-bottom: 100px;
    margin-top: 100px;
}


//////photoshop////////
#photoshop .row .col {
    padding: unset;
    line-height: 0.5;
}

#photoshop {
    margin-bottom: 100px;

    h4 {
        background-color: #cccbc6;
        margin-bottom: 0px;
        margin-top: 0;
        padding: 20px 0px;
    }
}

#MattePainting .container{
    @media (max-width:600px) {
        width: 100%;
    }
}

#okinawa {
    .col {
        border: #c7d8c6 3px dashed;
        box-shadow: rgb(233, 233, 233) 0px 0px 20px;
        width: 48%;
        @media (max-width:600px) {
            width: 100%;
        }
    }

    .okinawa-margin {
        margin-right: 20px;

        @media (max-width:600px) {
            margin-right: unset;
            margin-bottom: 20px;
        }
    }
}


//////illustrator////////
#illustrator {
    h4 {
        background-color: #cccbc6;
        margin-bottom: 0px;
        margin-top: 0;
        padding: 20px 0px;
    }
}








.box {
    width: 100%;
    height: 100vh;
    padding: 0 50px;
}

// .box1 {
//     width: 40%;
//     height: 80vh;
//     float: left;
//     text-align: center;
//     line-height: 80vh;
// }

// .box2 {
//     width: 50%;
//     height: 40vh;
//     float: left;
//     text-align: center;
//     line-height: 40vh;
// }

// .box3 {
//     width: 50%;
//     height: 40vh;
//     float: left;
//     ;
// }

// #section1 .box {
//     color: white;
//     background-color: #a9b7c0;
// }

// #section1 .box1 {
//     background-color: #c7d8c6;
// }

// #section1 .box2 {
//     background-color: #efd9c1;
// }

// #section1 .box3 {
//     background-color: #cccbc6;
// }

// #section1-1 .box {
//     color: black;
//     background-color: #a9b7c0;
// }

// #section1-1 .box1 {
//     background-color: #c7d8c6;
// }

// #section1-1 .box2 {
//     background-color: #efd9c1;
// }

// #section1-1 .box3 {
//     background-color: #cccbc6;
// }

// section img {
//     max-width: 70%;
//     margin: 0 auto;
// }





/////// Footer ///////
/*Footer*/
.page-footer .row {
    text-align: center;
}

#footer-logo {
    height: 60px;
}

#footer-logo img {
    height: 100%;
    width: auto;

}

#footer-links {
    margin: 1.5rem 0 0 0;
}

#footer-links a {
    margin: 0 .5rem;
}

@media screen and (min-width: 480px) {

    /*Project Section*/
    .section-project .card-reveal .card-title {
        font-size: 2rem;
    }

    .section-project .card-reveal li {
        font-size: 1.2rem;
    }
}