body {
    margin: 0;
    padding: 0;
    font-family: '微軟正黑體';
    position: relative;
}

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

///////NAVBAR///////
.navbar {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 999;
    padding: unset;

    a {
        color: rgb(201, 201, 201);
    }
}
.bg-my-color{
    background-color: rgb(36, 36, 36);
}

.navbar-brand {
    @media (max-width: 767px) {
        margin-left: calc(50% - 25px);
    }
}

.nav-pills .nav-link.active {
    background-color: unset;
    color: white;
    font-weight: 900;
}

#toggle {
    width: 28px;
    height: 30px;
    margin: 10px 30px;

    @media (min-width: 768px) {
        display: none;
    }
}

#toggle div {
    width: 100%;
    height: 3px;
    background: white;
    margin: 8px auto;
    transition: ease-in 0.3s;
    backface-visibility: hidden;
}

#toggle.on .one {
    transform: rotate(45deg) translate(5px, 2px);
}

#toggle.on .two {
    transform: rotate(-45deg) translate(7px, -2px);
}

.nav {
    @media (max-width: 767px) {
        display: unset;
    }
    .nav-item{
        @media (max-width: 767px) {
            padding:10px 0 10px 50px;
            border-bottom: 1px gray solid;
        }
    }
}

h4{
    height: 100vh;
}