@charset "UTF-8";
body {
  font-family: "Noto Sans TC", sans-serif;
  position: relative;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

.MB-12 {
  margin-bottom: 12px;
}

.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 999;
  padding: unset;
}

.navbar a {
  color: #c9c9c9;
}

.navbar .container {
  padding-left: 50px;
  padding-right: 50px;
}

@media (max-width: 767px) {
  .navbar .container {
    margin-left: unset;
    margin-right: unset;
    max-width: unset;
    padding-left: unset;
    padding-right: unset;
  }
}

.bg-my-color {
  background-color: #242424;
}

.navbar-brand {
  padding-top: unset;
  padding-bottom: unset;
}

@media (max-width: 767px) {
  .navbar-brand {
    margin-left: calc(50% - 25px);
  }
}

.nav-pills .nav-link.active {
  background-color: unset;
  color: white;
  font-weight: 600;
}

.nav-show .nav-link {
  display: none;
  position: fixed;
  top: 5px;
  z-index: 99;
}

@media (max-width: 767px) {
  .nav-show .nav-link {
    right: 70px;
  }
}

@media (max-width: 576px) {
  .nav-show .nav-link {
    right: 30px;
  }
}

@media (max-width: 767px) {
  .nav-show .nav-link.active {
    display: block;
  }
}

#toggle {
  width: 30px;
  height: 30px;
  margin: 10px 30px;
}

@media (min-width: 768px) {
  #toggle {
    display: none;
  }
}

@media (max-width: 576px) {
  #toggle {
    width: 20px;
    height: 30px;
    margin: 10px 15px;
  }
}

#toggle div {
  width: 100%;
  height: 3px;
  background: whitesmoke;
  margin: 8px auto;
  -webkit-transition: ease-in 0.3s;
  transition: ease-in 0.3s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

#toggle.on .one {
  -webkit-transform: rotate(45deg) translate(5px, 2px);
          transform: rotate(45deg) translate(5px, 2px);
}

#toggle.on .two {
  -webkit-transform: rotate(-45deg) translate(7px, -2px);
          transform: rotate(-45deg) translate(7px, -2px);
}

@media (max-width: 767px) {
  .nav {
    display: unset;
  }
}

@media (max-width: 767px) {
  .nav .nav-item {
    position: relative;
  }
}

@media (max-width: 767px) {
  .nav .nav-item::after {
    content: ' ';
    position: absolute;
    bottom: 0;
    width: 85%;
    border-bottom: 1px gray solid;
  }
}

@media (max-width: 576px) {
  .nav .nav-item::after {
    width: 83%;
  }
}

@media (max-width: 414px) {
  .nav .nav-item::after {
    width: 76%;
  }
}

@media (max-width: 375px) {
  .nav .nav-item::after {
    width: 74%;
  }
}

@media (max-width: 320px) {
  .nav .nav-item::after {
    width: 70%;
  }
}

#navbarSupportedContent ul li {
  padding: 0 30px;
}

@media (max-width: 991px) {
  #navbarSupportedContent ul li {
    padding: 0 10px;
  }
}

@media (max-width: 767px) {
  #navbarSupportedContent ul li {
    padding: 10px 50px 10px 50px;
  }
}

#iphone-SE {
  overflow: hidden;
  width: 100%;
  height: 736px;
  background-color: #131313;
  position: relative;
}

@media (max-width: 1068px) {
  #iphone-SE {
    height: 694px;
  }
}

@media (max-width: 767px) {
  #iphone-SE {
    height: 548px;
    background-image: url(../img/SE/SE_small.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}

#iphone-SE .SE-text {
  width: 100%;
  position: absolute;
  left: 50%;
  top: 35%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  z-index: 5;
}

@media (max-width: 1068px) {
  #iphone-SE .SE-text {
    top: 40%;
  }
}

#iphone-SE .SE-text > span {
  color: #bf4800;
  font-size: 18px;
}

@media (max-width: 767px) {
  #iphone-SE .SE-text > span {
    display: none;
  }
}

#iphone-SE .SE-text h1 {
  color: #f5f5f7;
  font-size: 56px;
  font-weight: 600;
  line-height: 1.2;
}

@media (max-width: 1068px) {
  #iphone-SE .SE-text h1 {
    font-size: 44px;
  }
}

@media (max-width: 767px) {
  #iphone-SE .SE-text h1 {
    font-size: 32px;
  }
}

#iphone-SE .SE-text h2 {
  color: #f5f5f7;
  font-size: 28px;
  font-weight: 400;
  line-height: 1.5;
  padding-left: 25px;
}

@media (max-width: 1068px) {
  #iphone-SE .SE-text h2 {
    font-size: 24px;
  }
}

@media (max-width: 767px) {
  #iphone-SE .SE-text h2 {
    font-size: 19px;
  }
}

#iphone-SE .SE-text h3 {
  color: #f5f5f7;
  font-size: 28px;
  font-weight: 400;
  line-height: 1.5;
}

@media (max-width: 1068px) {
  #iphone-SE .SE-text h3 {
    font-size: 24px;
  }
}

@media (max-width: 767px) {
  #iphone-SE .SE-text h3 {
    font-size: 19px;
  }
}

#iphone-SE .SE-text p span {
  font-size: 18px;
}

@media (max-width: 767px) {
  #iphone-SE .SE-text p span {
    font-size: 12px;
  }
}

#iphone-SE .SE-text a {
  color: #2997ff;
}

#iphone-SE .SE-text a h4 {
  font-size: 21px;
  font-weight: 400;
  line-height: 1.8;
  padding-left: 12px;
}

@media (max-width: 767px) {
  #iphone-SE .SE-text a h4 {
    font-size: 18px;
  }
}

#iphone-SE .SE-text a:hover {
  text-decoration: none;
}

#iphone-SE .img-wrapper {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: -50px;
  z-index: 1;
}

@media (max-width: 1068px) {
  #iphone-SE .img-wrapper {
    bottom: -140px;
  }
}

#iphone-SE .img-wrapper .SE-background {
  width: 1156px;
  height: 584px;
  background-image: url(../img/SE/SE_large.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}

@media (max-width: 1068px) {
  #iphone-SE .img-wrapper .SE-background {
    width: 796px;
    height: 535px;
  }
}

@media (max-width: 767px) {
  #iphone-SE .img-wrapper .SE-background {
    width: unset;
    height: unset;
    background-image: none;
  }
}

#iphone-11 {
  overflow: hidden;
  width: 100%;
  height: 736px;
  background-color: #fafafa;
  position: relative;
}

@media (max-width: 1068px) {
  #iphone-11 {
    height: 694px;
  }
}

@media (max-width: 767px) {
  #iphone-11 {
    height: 548px;
  }
}

#iphone-11 .iphone11-text {
  width: 100%;
  position: absolute;
  left: 50%;
  top: 26%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  z-index: 5;
}

@media (max-width: 1068px) {
  #iphone-11 .iphone11-text {
    top: 23%;
  }
}

#iphone-11 .iphone11-text h1 {
  color: #1d1d1f;
  font-size: 56px;
  font-weight: 600;
  line-height: 1;
}

@media (max-width: 1068px) {
  #iphone-11 .iphone11-text h1 {
    font-size: 44px;
  }
}

@media (max-width: 767px) {
  #iphone-11 .iphone11-text h1 {
    font-size: 32px;
  }
}

#iphone-11 .iphone11-text h2 {
  color: #1d1d1f;
  font-size: 28px;
  font-weight: 400;
  line-height: 1.2;
  padding-left: 25px;
}

@media (max-width: 1068px) {
  #iphone-11 .iphone11-text h2 {
    font-size: 24px;
  }
}

@media (max-width: 767px) {
  #iphone-11 .iphone11-text h2 {
    font-size: 19px;
  }
}

#iphone-11 .iphone11-text p span {
  font-size: 18px;
}

@media (max-width: 767px) {
  #iphone-11 .iphone11-text p span {
    font-size: 12px;
  }
}

#iphone-11 .iphone11-text a {
  color: #2997ff;
}

#iphone-11 .iphone11-text a h3 {
  font-size: 21px;
  font-weight: 400;
  line-height: 1.4;
  padding-left: 12px;
}

@media (max-width: 767px) {
  #iphone-11 .iphone11-text a h3 {
    font-size: 18px;
  }
}

#iphone-11 .iphone11-text a:hover {
  text-decoration: none;
}

#iphone-11 .img-wrapper {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: -50px;
  z-index: 1;
}

@media (max-width: 1068px) {
  #iphone-11 .img-wrapper {
    bottom: -10px;
  }
}

#iphone-11 .img-wrapper .iphone11-background {
  width: 2618px;
  height: 538px;
  background-image: url(../img/iphone11/iphone11_large.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}

@media (max-width: 1068px) {
  #iphone-11 .img-wrapper .iphone11-background {
    width: 1155px;
    height: 479px;
    background-image: url(../img/iphone11/iphone11_medium.jpg);
  }
}

@media (max-width: 767px) {
  #iphone-11 .img-wrapper .iphone11-background {
    width: 796px;
    height: 312px;
    background-image: url(../img/iphone11/iphone11_small.jpg);
  }
}

#ipad-pro {
  overflow: hidden;
  width: 100%;
  height: 736px;
  background-color: #fafafa;
  position: relative;
}

@media (max-width: 1068px) {
  #ipad-pro {
    height: 694px;
  }
}

@media (max-width: 767px) {
  #ipad-pro {
    height: 548px;
  }
}

#ipad-pro .ipad-pro-text {
  width: 100%;
  position: absolute;
  left: 50%;
  top: 25%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  z-index: 5;
}

@media (max-width: 1068px) {
  #ipad-pro .ipad-pro-text {
    top: 20%;
  }
}

#ipad-pro .ipad-pro-text h1 {
  color: #1d1d1f;
  font-size: 56px;
  font-weight: 600;
  line-height: 1;
}

@media (max-width: 1068px) {
  #ipad-pro .ipad-pro-text h1 {
    font-size: 44px;
  }
}

@media (max-width: 767px) {
  #ipad-pro .ipad-pro-text h1 {
    font-size: 32px;
  }
}

#ipad-pro .ipad-pro-text h2 {
  color: #1d1d1f;
  font-size: 28px;
  font-weight: 400;
  line-height: 1.2;
  padding-left: 25px;
}

@media (max-width: 1068px) {
  #ipad-pro .ipad-pro-text h2 {
    font-size: 24px;
  }
}

@media (max-width: 767px) {
  #ipad-pro .ipad-pro-text h2 {
    font-size: 19px;
  }
}

#ipad-pro .ipad-pro-text a {
  color: #2997ff;
}

#ipad-pro .ipad-pro-text a h3 {
  font-size: 21px;
  font-weight: 400;
  line-height: 1.4;
  padding-left: 12px;
}

@media (max-width: 767px) {
  #ipad-pro .ipad-pro-text a h3 {
    font-size: 18px;
  }
}

#ipad-pro .ipad-pro-text a:hover {
  text-decoration: none;
}

#ipad-pro .img-wrapper {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: -30px;
  z-index: 1;
}

@media (max-width: 1068px) {
  #ipad-pro .img-wrapper {
    bottom: 15px;
  }
}

#ipad-pro .img-wrapper .ipad-pro-background {
  width: 3010px;
  height: 736px;
  background-image: url(../img/ipad/ipadpro_large.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}

@media (max-width: 1068px) {
  #ipad-pro .img-wrapper .ipad-pro-background {
    width: 610px;
    height: 514px;
    background-image: url(../img/ipad/ipadpro_medium.jpg);
  }
}

@media (max-width: 767px) {
  #ipad-pro .img-wrapper .ipad-pro-background {
    width: 736px;
    height: 548px;
    background-image: url(../img/ipad/ipadpro_small.jpg);
  }
}

.left-padding {
  padding-left: 12px;
  padding-right: 6px;
}

@media (max-width: 767px) {
  .left-padding {
    padding-left: 0px;
    padding-right: 0px;
  }
}

.right-padding {
  padding-left: 6px;
  padding-right: 12px;
}

@media (max-width: 767px) {
  .right-padding {
    padding-left: 0px;
    padding-right: 0px;
  }
}

#SET1 {
  overflow: hidden;
  width: 100%;
  height: 580px;
  background-color: #f1f1f3;
  position: relative;
}

@media (max-width: 1068px) {
  #SET1 {
    height: 490px;
  }
}

@media (max-width: 767px) {
  #SET1 {
    height: 548px;
  }
}

#SET1 .SET1-text {
  width: 100%;
  position: absolute;
  left: 50%;
  top: 25%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  z-index: 5;
}

@media (max-width: 1068px) {
  #SET1 .SET1-text {
    top: 23%;
  }
}

#SET1 .SET1-text h1 {
  color: #1d1d1f;
  font-size: 37px;
  font-weight: 500;
  line-height: 1.1;
}

@media (max-width: 1068px) {
  #SET1 .SET1-text h1 {
    font-size: 28px;
    line-height: 1.3;
  }
}

@media (max-width: 767px) {
  #SET1 .SET1-text h1 {
    font-size: 25px;
  }
}

#SET1 .SET1-text a {
  color: #2997ff;
}

#SET1 .SET1-text a h3 {
  font-size: 17px;
  font-weight: 400;
  line-height: 1.4;
}

@media (max-width: 767px) {
  #SET1 .SET1-text a h3 {
    font-size: 16px;
  }
}

#SET1 .SET1-text a:hover {
  text-decoration: none;
}

#SET1 .img-wrapper {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: -20px;
  z-index: 1;
}

@media (max-width: 1068px) {
  #SET1 .img-wrapper {
    bottom: 15px;
  }
}

#SET1 .img-wrapper .SET1-background {
  width: 706px;
  height: 385px;
  background-image: url(../img/優惠組合/SET1_large.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}

@media (max-width: 1068px) {
  #SET1 .img-wrapper .SET1-background {
    width: 558px;
    height: 490px;
    background-image: url(../img/優惠組合/SET1_medium.jpg);
  }
}

@media (max-width: 767px) {
  #SET1 .img-wrapper .SET1-background {
    width: 796px;
    height: 548px;
    background-image: url(../img/優惠組合/SET1_small.jpg);
  }
}

#SET2 {
  overflow: hidden;
  width: 100%;
  height: 580px;
  background-color: #f1f1f3;
  position: relative;
}

@media (max-width: 1068px) {
  #SET2 {
    height: 490px;
  }
}

@media (max-width: 767px) {
  #SET2 {
    height: 548px;
  }
}

#SET2 figure {
  margin: 0;
}

#SET2 .SET2-text {
  width: 100%;
  position: absolute;
  left: 50%;
  top: 25%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  z-index: 5;
}

@media (max-width: 1068px) {
  #SET2 .SET2-text {
    top: 23%;
  }
}

#SET2 .SET2-text h1 {
  color: #1d1d1f;
  font-size: 37px;
  font-weight: 600;
  line-height: 1.1;
}

@media (max-width: 1068px) {
  #SET2 .SET2-text h1 {
    font-size: 30px;
    line-height: 1.2;
  }
}

@media (max-width: 767px) {
  #SET2 .SET2-text h1 {
    font-size: 27px;
  }
}

#SET2 .SET2-text h2 {
  color: #1d1d1f;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2;
  padding-left: 25px;
}

@media (max-width: 1068px) {
  #SET2 .SET2-text h2 {
    font-size: 19px;
  }
}

@media (max-width: 767px) {
  #SET2 .SET2-text h2 {
    font-size: 18px;
  }
}

#SET2 .SET2-text a {
  color: #2997ff;
}

#SET2 .SET2-text a h3 {
  font-size: 17px;
  font-weight: 400;
  line-height: 1.4;
}

@media (max-width: 767px) {
  #SET2 .SET2-text a h3 {
    font-size: 16px;
  }
}

#SET2 .SET2-text a:hover {
  text-decoration: none;
}

#SET2 .img-wrapper {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 0;
  z-index: 1;
}

#SET2 .img-wrapper .SET2-background {
  width: 1262px;
  height: 580px;
  background-image: url(../img/優惠組合/SET2_large.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}

@media (max-width: 1068px) {
  #SET2 .img-wrapper .SET2-background {
    width: 516px;
    height: 490px;
    background-image: url(../img/優惠組合/SET2_medium.jpg);
  }
}

@media (max-width: 767px) {
  #SET2 .img-wrapper .SET2-background {
    width: 767px;
    height: 572px;
    background-image: url(../img/優惠組合/SET2_small.jpg);
  }
}

#SET3 {
  overflow: hidden;
  width: 100%;
  height: 580px;
  background-color: #f1f1f3;
  position: relative;
}

@media (max-width: 1068px) {
  #SET3 {
    height: 490px;
  }
}

@media (max-width: 767px) {
  #SET3 {
    height: 548px;
  }
}

#SET3 figure {
  margin: 0;
}

#SET3 .SET3-text {
  width: 100%;
  position: absolute;
  left: 50%;
  top: 25%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  z-index: 5;
}

@media (max-width: 1068px) {
  #SET3 .SET3-text {
    top: 23%;
  }
}

#SET3 .SET3-text h2 {
  font-size: 25px;
}

@media (max-width: 1068px) {
  #SET3 .SET3-text h2 {
    font-size: 20px;
  }
}

#SET3 .SET3-text h1 {
  color: #1d1d1f;
  font-size: 37px;
  font-weight: 500;
  line-height: 1.1;
  padding-left: 20px;
}

@media (max-width: 1068px) {
  #SET3 .SET3-text h1 {
    font-size: 25px;
    line-height: 1.4;
    padding-left: 10px;
  }
}

@media (max-width: 767px) {
  #SET3 .SET3-text h1 {
    font-size: 27px;
  }
}

#SET3 .img-wrapper {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 0;
  z-index: 1;
}

#SET3 .img-wrapper .SET3-background {
  width: 1262px;
  height: 580px;
  background-image: url(../img/優惠組合/SET3_large.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}

@media (max-width: 1068px) {
  #SET3 .img-wrapper .SET3-background {
    width: 516px;
    height: 490px;
    background-image: url(../img/優惠組合/SET3_medium.jpg);
  }
}

@media (max-width: 767px) {
  #SET3 .img-wrapper .SET3-background {
    width: 767px;
    height: 548px;
    background-image: url(../img/優惠組合/SET3_small.jpg);
  }
}

#SET4 {
  overflow: hidden;
  width: 100%;
  height: 580px;
  background-color: #fafafa;
  position: relative;
}

@media (max-width: 1068px) {
  #SET4 {
    height: 490px;
  }
}

@media (max-width: 767px) {
  #SET4 {
    height: 548px;
  }
}

#SET4 figure {
  margin: 0;
}

#SET4 .SET4-text {
  width: 100%;
  position: absolute;
  left: 50%;
  top: 20%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  z-index: 5;
}

@media (max-width: 1068px) {
  #SET4 .SET4-text {
    top: 18%;
  }
}

#SET4 .SET4-text h1 {
  color: #1d1d1f;
  font-size: 37px;
  font-weight: 500;
  line-height: 1.1;
}

@media (max-width: 1068px) {
  #SET4 .SET4-text h1 {
    font-size: 30px;
    line-height: 1.3;
  }
}

@media (max-width: 767px) {
  #SET4 .SET4-text h1 {
    font-size: 27px;
    line-height: 1.4;
  }
}

#SET4 .img-wrapper {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 0;
  z-index: 1;
}

#SET4 .img-wrapper .SET4-background {
  width: 1038px;
  height: 399px;
  background-image: url(../img/優惠組合/SET4_large.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}

@media (max-width: 1068px) {
  #SET4 .img-wrapper .SET4-background {
    width: 516px;
    height: 338px;
    background-image: url(../img/優惠組合/SET4_medium.jpg);
  }
}

@media (max-width: 767px) {
  #SET4 .img-wrapper .SET4-background {
    width: 767px;
    height: 360px;
    background-image: url(../img/優惠組合/SET4_small.jpg);
  }
}

#SET5 {
  overflow: hidden;
  width: 100%;
  height: 580px;
  background-color: #fafafa;
  position: relative;
}

@media (max-width: 1068px) {
  #SET5 {
    height: 490px;
  }
}

@media (max-width: 767px) {
  #SET5 {
    height: 548px;
  }
}

#SET5 figure {
  margin: 0;
}

#SET5 .SET5-text {
  width: 100%;
  position: absolute;
  left: 50%;
  top: 25%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  z-index: 5;
}

@media (max-width: 1068px) {
  #SET5 .SET5-text {
    top: 23%;
  }
}

#SET5 .SET5-text h1 {
  color: #1d1d1f;
  font-size: 37px;
  font-weight: 600;
  line-height: 1.1;
}

@media (max-width: 1068px) {
  #SET5 .SET5-text h1 {
    font-size: 30px;
    line-height: 1.2;
  }
}

@media (max-width: 767px) {
  #SET5 .SET5-text h1 {
    font-size: 27px;
  }
}

#SET5 .SET5-text h2 {
  color: #ec4c1b;
  font-size: 17px;
  font-weight: 400;
  line-height: 1.2;
}

@media (max-width: 1068px) {
  #SET5 .SET5-text h2 {
    font-size: 16px;
  }
}

#SET5 .SET5-text h4 {
  color: #1d1d1f;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2;
  padding-left: 25px;
}

@media (max-width: 1068px) {
  #SET5 .SET5-text h4 {
    font-size: 19px;
  }
}

@media (max-width: 767px) {
  #SET5 .SET5-text h4 {
    font-size: 18px;
  }
}

#SET5 .SET5-text a {
  color: #2997ff;
}

#SET5 .SET5-text a h3 {
  font-size: 17px;
  font-weight: 400;
  line-height: 1.4;
}

@media (max-width: 767px) {
  #SET5 .SET5-text a h3 {
    font-size: 16px;
  }
}

#SET5 .SET5-text a:hover {
  text-decoration: none;
}

#SET5 .img-wrapper {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 0;
  z-index: 1;
}

#SET5 .img-wrapper .SET5-background {
  width: 726px;
  height: 351px;
  background-image: url(../img/watch/watch_large.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}

@media (max-width: 1068px) {
  #SET5 .img-wrapper .SET5-background {
    width: 516px;
    height: 278px;
    background-image: url(../img/watch/watch_medium.jpg);
  }
}

@media (max-width: 767px) {
  #SET5 .img-wrapper .SET5-background {
    width: 670px;
    height: 311px;
    background-image: url(../img/watch/watch_small.jpg);
  }
}

#SET6 {
  overflow: hidden;
  width: 100%;
  height: 580px;
  background-color: #f1f1f3;
  position: relative;
}

@media (max-width: 1068px) {
  #SET6 {
    height: 490px;
  }
}

@media (max-width: 767px) {
  #SET6 {
    height: 548px;
  }
}

#SET6 figure {
  margin: 0;
}

#SET6 .SET6-text {
  color: #f1f1f3;
  width: 100%;
  position: absolute;
  left: 50%;
  top: 23%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  z-index: 5;
}

@media (max-width: 1068px) {
  #SET6 .SET6-text {
    top: 21%;
  }
}

@media (max-width: 767px) {
  #SET6 .SET6-text {
    top: 19%;
  }
}

#SET6 .SET6-text span {
  line-height: 650px;
}

@media (max-width: 1068px) {
  #SET6 .SET6-text span img {
    height: 40px !important;
  }
}

@media (max-width: 767px) {
  #SET6 .SET6-text span {
    line-height: 700px;
  }
}

#SET6 .SET6-text h2 {
  font-size: 20px;
  font-weight: 400;
}

#SET6 .SET6-text h1 {
  color: #f1f1f3;
  font-size: 50px;
  font-weight: 500;
  line-height: 1.1;
}

@media (max-width: 1068px) {
  #SET6 .SET6-text h1 {
    font-size: 45px;
    line-height: 1.2;
  }
}

@media (max-width: 767px) {
  #SET6 .SET6-text h1 {
    font-size: 40px;
  }
}

#SET6 .img-wrapper {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 0;
  z-index: 1;
}

#SET6 .img-wrapper .SET6-background {
  width: 1262px;
  height: 580px;
  background-image: url(../img/優惠組合/SET6_large.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}

@media (max-width: 1068px) {
  #SET6 .img-wrapper .SET6-background {
    width: 516px;
    height: 490px;
    background-image: url(../img/優惠組合/SET6_medium.jpg);
  }
}

@media (max-width: 767px) {
  #SET6 .img-wrapper .SET6-background {
    width: 767px;
    height: 548px;
    background-image: url(../img/優惠組合/SET6_small.jpg);
  }
}

.SET7 .col-12 {
  padding-left: 0;
  padding-right: 0;
}

#SET7-TV {
  overflow: hidden;
  width: 100%;
  height: 736px;
  background-color: #fafafa;
  position: relative;
}

@media (max-width: 1068px) {
  #SET7-TV {
    height: 694px;
  }
}

@media (max-width: 767px) {
  #SET7-TV {
    height: 548px;
  }
}

#SET7-TV .TV-text {
  width: 100%;
  position: absolute;
  left: 50%;
  top: 26%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  z-index: 5;
}

@media (max-width: 1068px) {
  #SET7-TV .TV-text {
    top: 23%;
  }
}

#SET7-TV .TV-text h1 {
  color: #1d1d1f;
  font-size: 56px;
  font-weight: 600;
  line-height: 1;
}

@media (max-width: 1068px) {
  #SET7-TV .TV-text h1 {
    font-size: 44px;
  }
}

@media (max-width: 767px) {
  #SET7-TV .TV-text h1 {
    font-size: 32px;
  }
}

#SET7-TV .TV-text h2 {
  color: #1d1d1f;
  font-size: 28px;
  font-weight: 400;
  line-height: 1.2;
  padding-left: 25px;
}

@media (max-width: 1068px) {
  #SET7-TV .TV-text h2 {
    font-size: 24px;
  }
}

@media (max-width: 767px) {
  #SET7-TV .TV-text h2 {
    font-size: 19px;
  }
}

#SET7-TV .TV-text p span {
  font-size: 18px;
}

@media (max-width: 767px) {
  #SET7-TV .TV-text p span {
    font-size: 12px;
  }
}

#SET7-TV .TV-text a {
  color: #2997ff;
}

#SET7-TV .TV-text a h3 {
  font-size: 21px;
  font-weight: 400;
  line-height: 1.4;
}

@media (max-width: 767px) {
  #SET7-TV .TV-text a h3 {
    font-size: 18px;
  }
}

#SET7-TV .TV-text a:hover {
  text-decoration: none;
}

#SET7-TV .img-wrapper {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 0;
  z-index: 1;
}

@media (max-width: 1068px) {
  #SET7-TV .img-wrapper {
    bottom: -10px;
  }
}

#SET7-TV .img-wrapper .TV-background {
  width: 2760px;
  height: 1000px;
  background-image: url(../img/TV/TV_large.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}

@media (max-width: 1068px) {
  #SET7-TV .img-wrapper .TV-background {
    width: 1404px;
    height: 800px;
    background-image: url(../img/TV/TV_medium.jpg);
  }
}

@media (max-width: 767px) {
  #SET7-TV .img-wrapper .TV-background {
    width: 1472px;
    height: 980px;
    background-image: url(../img/TV/TV_small.jpg);
  }
}

#apple-footer {
  background-color: #f5f5f7;
}

#apple-footer .footer-content {
  font-size: 12px;
  font-weight: 400;
  background-color: #f5f5f7;
  color: #1d1d1f;
  overflow: hidden;
  padding: 0 22px;
  margin: 0 auto;
  max-width: 980px;
}

#apple-footer .footer-content .instructions {
  color: #86868b;
  line-height: 1.5;
  text-align: left;
  font-weight: 300;
  padding: 17px 0 9px 0;
}

#apple-footer .footer-content .divider {
  margin: 0 0 20px 0;
  width: 100%;
  height: 1px;
  background-color: #dadada;
}

#apple-footer .footer-content input {
  display: none;
}

#apple-footer .footer-content h3 {
  font-size: 12px;
  font-weight: 500;
  color: #1d1d1f;
}

#apple-footer .footer-content #apple-guide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 767px) {
  #apple-footer .footer-content #apple-guide {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

#apple-footer .footer-content #apple-guide ul {
  list-style: none;
}

@media (max-width: 767px) {
  #apple-footer .footer-content #apple-guide ul {
    display: none;
  }
}

#apple-footer .footer-content #apple-guide ul li {
  margin-bottom: .6em;
}

#apple-footer .footer-content #apple-guide ul li a {
  color: #86868b;
}

@media (max-width: 767px) {
  #apple-footer .footer-content #apple-guide input.one:checked ~ div > ul {
    display: block;
  }
}

@media (max-width: 767px) {
  #apple-footer .footer-content #apple-guide input#service:checked ~ .service-div > ul {
    display: block;
  }
}

@media (max-width: 767px) {
  #apple-footer .footer-content #apple-guide input#account:checked ~ .account-div > ul {
    display: block;
  }
}

@media (max-width: 767px) {
  #apple-footer .footer-content #apple-guide input#business:checked ~ .business-div > ul {
    display: block;
  }
}

@media (max-width: 767px) {
  #apple-footer .footer-content #apple-guide input#education:checked ~ .education-div > ul {
    display: block;
  }
}

@media (max-width: 767px) {
  #apple-footer .footer-content #apple-guide input#value:checked ~ .value-div > ul {
    display: block;
  }
}

@media (max-width: 767px) {
  #apple-footer .footer-content #apple-guide input#about:checked ~ .about-div > ul {
    display: block;
  }
}

@media (max-width: 767px) {
  #apple-footer .footer-content #apple-guide .apple-text {
    border-bottom: 1px solid #dadada;
    margin-bottom: 15px;
  }
}

@media (max-width: 767px) {
  #apple-footer .footer-content #apple-guide label h3 {
    cursor: pointer;
  }
}

#apple-footer .footer-content #apple-guide label {
  display: block;
}

@media (max-width: 767px) {
  #apple-footer .footer-content #apple-guide label h3::after {
    content: "+";
    font-size: 14px;
    float: right;
  }
}

#apple-footer .footer-content .footer-shop {
  color: #86868b;
  margin-bottom: 7px;
  padding-bottom: 3px;
  border-bottom: 1px solid #d2d2d7;
}

@media (max-width: 767px) {
  #apple-footer .footer-content .footer-shop {
    border-bottom: unset;
  }
}

#apple-footer .footer-content .footer-shop h4 {
  font-size: 12px;
  font-weight: 300;
}

#apple-footer .footer-content #copyright {
  color: #b56357;
  margin: 20px 0;
  text-align: center;
}

#apple-footer .footer-content #copyright h5 {
  font-size: 16px;
}
/*# sourceMappingURL=index.css.map */