body {
  font-family: "Noto Sans TC", sans-serif;
  position: relative;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 999;
  padding: unset;
}

.navbar a {
  color: #c9c9c9;
}

.navbar .container {
  padding-left: 50px;
  padding-right: 50px;
}

@media (max-width: 767px) {
  .navbar .container {
    margin-left: unset;
    margin-right: unset;
    max-width: unset;
    padding-left: unset;
    padding-right: unset;
  }
}

.bg-my-color {
  background-color: #242424;
}

.navbar-brand {
  padding-top: unset;
  padding-bottom: unset;
}

@media (max-width: 767px) {
  .navbar-brand {
    margin-left: calc(50% - 25px);
  }
}

.nav-pills .nav-link.active {
  background-color: unset;
  color: white;
  font-weight: 600;
}

.nav-show .nav-link {
  display: none;
  position: fixed;
  top: 5px;
  z-index: 99;
}

@media (max-width: 767px) {
  .nav-show .nav-link {
    right: 70px;
  }
}

@media (max-width: 576px) {
  .nav-show .nav-link {
    right: 30px;
  }
}

@media (max-width: 767px) {
  .nav-show .nav-link.active {
    display: block;
  }
}

#toggle {
  width: 30px;
  height: 30px;
  margin: 10px 30px;
}

@media (min-width: 768px) {
  #toggle {
    display: none;
  }
}

@media (max-width: 576px) {
  #toggle {
    width: 20px;
    height: 30px;
    margin: 10px 15px;
  }
}

#toggle div {
  width: 100%;
  height: 3px;
  background: whitesmoke;
  margin: 8px auto;
  -webkit-transition: ease-in 0.3s;
  transition: ease-in 0.3s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

#toggle.on .one {
  -webkit-transform: rotate(45deg) translate(5px, 2px);
          transform: rotate(45deg) translate(5px, 2px);
}

#toggle.on .two {
  -webkit-transform: rotate(-45deg) translate(7px, -2px);
          transform: rotate(-45deg) translate(7px, -2px);
}

@media (max-width: 767px) {
  .nav {
    display: unset;
  }
}

@media (max-width: 767px) {
  .nav .nav-item {
    padding: 10px 50px 10px 50px;
    position: relative;
  }
}

@media (max-width: 767px) {
  .nav .nav-item::after {
    content: ' ';
    position: absolute;
    bottom: 0;
    width: 85%;
    border-bottom: 1px gray solid;
  }
}

@media (max-width: 576px) {
  .nav .nav-item::after {
    width: 83%;
  }
}

@media (max-width: 414px) {
  .nav .nav-item::after {
    width: 76%;
  }
}

@media (max-width: 375px) {
  .nav .nav-item::after {
    width: 74%;
  }
}

@media (max-width: 320px) {
  .nav .nav-item::after {
    width: 70%;
  }
}

#apple-footer {
  background-color: #f5f5f7;
}

#apple-footer .footer-content {
  font-size: 12px;
  font-weight: 400;
  background-color: #f5f5f7;
  color: #1d1d1f;
  overflow: hidden;
  padding: 0 22px;
  margin: 0 auto;
  max-width: 980px;
}

#apple-footer .footer-content .instructions {
  color: #86868b;
  line-height: 1.5;
  text-align: left;
  font-weight: 300;
  padding: 17px 0 9px 0;
}

#apple-footer .footer-content .divider {
  margin: 0 0 20px 0;
  width: 100%;
  height: 1px;
  background-color: #dadada;
}

#apple-footer .footer-content input {
  display: none;
}

#apple-footer .footer-content h3 {
  font-size: 12px;
  font-weight: 500;
  color: #1d1d1f;
}

#apple-footer .footer-content #apple-guide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 767px) {
  #apple-footer .footer-content #apple-guide {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

#apple-footer .footer-content #apple-guide ul {
  list-style: none;
}

@media (max-width: 767px) {
  #apple-footer .footer-content #apple-guide ul {
    display: none;
  }
}

#apple-footer .footer-content #apple-guide ul li {
  margin-bottom: .6em;
}

#apple-footer .footer-content #apple-guide ul li a {
  color: #86868b;
}

@media (max-width: 767px) {
  #apple-footer .footer-content #apple-guide input.one:checked ~ div > ul {
    display: block;
  }
}

@media (max-width: 767px) {
  #apple-footer .footer-content #apple-guide input#service:checked ~ div.service-div > ul {
    display: block;
  }
}

@media (max-width: 767px) {
  #apple-footer .footer-content #apple-guide input#account:checked ~ div.account-div > ul {
    display: block;
  }
}

@media (max-width: 767px) {
  #apple-footer .footer-content #apple-guide input#business:checked ~ div.business-div > ul {
    display: block;
  }
}

@media (max-width: 767px) {
  #apple-footer .footer-content #apple-guide input#education:checked ~ div.education-div > ul {
    display: block;
  }
}

@media (max-width: 767px) {
  #apple-footer .footer-content #apple-guide input#value:checked ~ div.value-div > ul {
    display: block;
  }
}

@media (max-width: 767px) {
  #apple-footer .footer-content #apple-guide input#about:checked ~ div.about-div > ul {
    display: block;
  }
}

@media (max-width: 767px) {
  #apple-footer .footer-content #apple-guide .apple-text {
    border-bottom: 1px solid #dadada;
    margin-bottom: 15px;
  }
}

@media (max-width: 767px) {
  #apple-footer .footer-content #apple-guide label h3 {
    cursor: pointer;
  }
}

#apple-footer .footer-content #apple-guide label {
  display: block;
}

@media (max-width: 767px) {
  #apple-footer .footer-content #apple-guide label h3::after {
    content: "+";
    font-size: 14px;
    float: right;
  }
}

#apple-footer .footer-content .footer-shop {
  color: #86868b;
  margin-bottom: 7px;
  padding-bottom: 3px;
  border-bottom: 1px solid #d2d2d7;
}

@media (max-width: 767px) {
  #apple-footer .footer-content .footer-shop {
    border-bottom: unset;
  }
}

#apple-footer .footer-content .footer-shop h4 {
  font-size: 12px;
  font-weight: 300;
}

#apple-footer .footer-content #copyright {
  color: #b56357;
  margin: 20px 0;
  text-align: center;
}

#apple-footer .footer-content #copyright h5 {
  font-size: 16px;
}
/*# sourceMappingURL=index.css.map */